.employee {
    text-align: center;
    width: 100%;
    margin: 20px;
}

.orderButton {
    padding: 5px;
    margin: 2%;
    cursor: pointer;
    font-family: inherit;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
}

.orderButton:hover {
    background-color: #008CBA;
    color: white;
}