.outer {
    width: 100%;
    text-align: center;
}

.customers {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

.customers:last-child {
    border: none;
}

.title {
    font-size: 20px;
    margin-top: 20px;
}