.signUp {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.fields {
    padding: 2px;
}

.credentials {
    border: none;
    border-bottom: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: #e6ccb3;
    color: black;
}

.credentials:focus {
    border: 1px solid #ff471a;
}

.sign {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-family: inherit;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
}

.sign:hover {
    background-color: #008CBA;
    color: white;
}

