* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

b,
strong {
    font-weight: 600;
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 33%;
    padding: 5px;
}

img:first-child {
    margin-left: 6px;
}

body {
    font-size: 13px;
}

.App {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    background-color: #fff2e6;
}

.header {
    border-bottom: 1px solid black;
    text-align: right;
    margin: auto;
    background-image: url(./assets/img/burger-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
}

.sign {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-family: inherit;
    color: white;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
}

.sign:hover {
    background-color: #008CBA;
    color: white;
}

.loginButtons {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-family: inherit;
    color: black;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
}

.loginButtons:hover {
    background-color: #008CBA;
    color: black;
}

.title {
    text-align: center;
    font-weight: 900;
    padding-top: 20px;
    font-size: 30px;
    color: white;
}

@media (max-width: 500px) {
    .title {
        font-size: 20px;
    }
}

.footer {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.description {
    text-align: center;
}

.credentials {
    border: none;
    border-bottom: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.credentials:focus {
    border: 1px solid #0C0;
}

.orderButton {
    padding: 5px;
    margin: 2%;
    cursor: pointer;
    font-family: inherit;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
}

.orderButton:hover {
    background-color: #008CBA;
    color: white;
}

.employee {
    text-align: center;
}

.signUp {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.fields {
    padding: 2px;
}

label {
    margin: 10px;
}

.inputs {
    margin-left: 20px;
}