* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

b,
strong {
    font-weight: 600;
}

.img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 33%;
    padding: 5px;
}

.img:first-child {
    margin-left: 6px;
}

body {
    font-size: 13px;
}

.App {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    background-color: #fff2e6;
}

.header {
    border-bottom: 1px solid black;
    text-align: center;
    margin: auto;
    min-height: 50vh;
    background-image: url(./assets/img/burger-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
}

.title {
    text-align: center;
    font-weight: 900;
    padding-top: 20px;
    font-size: 26px;
    color: white;
}

.title h1 {
    color: white;
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 500px) {
    .title {
        font-size: 20px;
    }
}

label {
    margin: 10px;
}

.inputs {
    margin-left: 20px;
}